Makefile*
.*
build
ac*m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
*.la
*.lo
*.so
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
modules
run-tests.php
*~
phpiredis.loT
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
